// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #3399ff
$secondary = #E0E0E0
$neutral   = #26A69A
$tertiary  = #555
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables'
