@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

.w-100 {
width: 100%;
}
.card-hover {
	&:hover{
background: #f1f1f1; 
	}
}
.calculator-cards {
height: 250px;
}
a.router-link-active {
color: black;
}
.q-card-title { 
color: black;
}
.header-app-name {
font-style: italic;
font-family: roboto;
font-size: 18px;
}
.icon {
background-color: #737373;
position: absolute; 
left:20px;
-webkit-mask: url(../assets/logo.svg) no-repeat center;
}
.position-right {
position: absolute; 
right:10px;
}
.q-layout-header {
border-bottom :0;
}
.border-top{
 border-top: 1px solid #e0e0e0;
}
.q-layout-drawer{
border-left:1px solid #E0E0E0;
}
